@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(226 232 240 / 1) !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}